<% provide(:title, 'Movies') %>
<h1>Movies</h1>

<table id="movies" class="table table-striped table-bordered" data-source="<%= movies_url(format: "json") %>">
	<thead>
		<tr>
			<th>Title</th>
			<th>Y</th>
			<th>R</th>
			<th>R</th>
			<th>Genre</th>
			<th>S</th>
			<th>W</th>
			<th>Ac</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>

<% if signed_in? %>
<%= link_to 'Create new movie', new_movie_path, class: "btn btn-large btn-primary" %>
<% end %>