<% provide(:title, 'Create new movie') %>
<h1>Create new movie</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for @movie, html: { autocomplete: :off } do |f| %>
			<%= render 'fields', f: f %>
		    <%= f.submit "Create new movie", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
